.nav{
    display:none;
}
body{
    display: grid;
    grid-template-rows:auto auto auto auto auto auto auto;
    padding:0;
    margin:0;
    background:url(../img/bg3.JPG);
}
#title{
    display: grid;
    align-items: center;
    justify-items: center;
    height:80vh;
    color:#333333;
    margin:1vh ;
    background:#ffffff;
}
section{
    padding: 2em 2em;
}
.who { 
    background:#111111;
    color:white;
}
.aim{
    background: #a3a3a3;
    color:black;
}
.why{
    background:#333333;
    color:white;
}
