body{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    padding:0;
    margin:0;
}
.nav{
    height:0;
    overflow:hidden;
}
.logo-grid{
    display: grid;
    grid-template-rows:  90% 10%;
    grid-template-columns: auto;
    height: 100vh;
}
.social{
    background:blue;
    height: 100%;
}
#logo{
    display: block;
    background: url(../img/shaded_logo1.svg);
    background-size: cover;
    height:100%;
    width:100%;
}