body{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    padding:0;
    margin:0;
}
.nav{
    height:0;
    overflow:hidden;
}
.logo-grid{
    height: 100vh;
    background:url(../img/bg3.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.social{
    display: none;
}
#logo{
    display: block;
    background: url(../img/shaded_logo1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width:100%;
}
#pc-icon{
    display: block;
    height: 50vh;
    background:url(../img/mpc-icon.svg);
    background-size: contain;
   background-repeat: no-repeat;
    background-position: center;
 
}
section{
    background:#333333;
    padding:0 2em;
}
section h1{
    font-size: 0.85em;
    color:white;
}
section p{
    font-size: 0.7em;
    color:#e1e1e1;
}
.home-footer{
    display: grid;
    grid-template-columns: auto auto;
    height:10vh;
    background:#333333;
    justify-content: center;
    align-content: center;
}
#ig-logo{
    display: block;
    background:url(../img/mobile-main-ig.svg);
    background-size:cover;
    background-repeat: no-repeat;
    height:6vh;
    width:6vh;
    margin: 1.5vh 2vw;
}   
#twi-logo{
    display:block;
    background:url(../img/mobile-main-twi.svg);
    background-size:cover;
    background-repeat: no-repeat;
    height:6vh;
    width:6vh;
    margin: 1.5vh 2vw;
}

.btn{
    display: block;
    background:#00413b;
    border:none;
    height: 2em;
    width:10em;
    color:white;
}