/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    -ms-grid-rows: 100vh;
    grid-template-rows: 100vh;
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
}
body > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}body > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.logo-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 85% 15%;
    grid-template-rows: 85% 15%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    background:#d9d9d9;
    z-index:1;
    -webkit-animation: fade_width 0.5s;
            animation: fade_width 0.5s;
    -webkit-box-shadow: 4px 4px 4px 3px rgba(0,0,0,0.5);
            box-shadow: 4px 4px 4px 3px rgba(0,0,0,0.5);
}

.logo-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.logo-grid > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.nav-menu a{
    color:#b5b5b5;
}
.main-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    
    background:url(../img/bg3.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-animation: fade 2s;
            animation: fade 2s;
    z-index: 0;
}
.main-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.main-grid > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.home-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
       
}

.home-grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
       
}

.home-grid > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
       
}

.home-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 5%;
}

#pc-icon{
    display: block;
    width:50%;
    height:100%;
    background:url(../img/main_icon1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.logo{
    height: 80%;
    width: 70%;
    background:url(../img/shaded_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.home-info{
    display:-ms-grid;
    display:grid;
    -ms-grid-rows: 65% 35%;
    grid-template-rows: 65% 35%;
    grid-auto-columns: auto;
    padding-left:10%;
}

.twi{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    height:-webkit-min-content;
    height:-moz-min-content;
    height:min-content;
    justify-items: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin:1vh;
}
.ig {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    justify-items: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin:1vh;
}
p{
    color:white;
}
.btn{
    display: block;
    width:30%;
    height:50%;
    background:#177660;
    border-style: none;
    font-size: 160%;
    border-radius:1vh;
}
.btn:hover{
    background:#177960;
}

@-webkit-keyframes fade{
    0%{
        -webkit-transform: translate(-50%,0);
                transform: translate(-50%,0);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}

@keyframes fade{
    0%{
        -webkit-transform: translate(-50%,0);
                transform: translate(-50%,0);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}
@-webkit-keyframes fade_width{
    0%{
        width:90%;
    }
    100%{
        width: 100%;
    }
}
@keyframes fade_width{
    0%{
        width:90%;
    }
    100%{
        width: 100%;
    }
}

#intro p{
    color:white;
}
#intro h1{
    color:#e1e1e1;
}

@media only screen and (max-width:720px){
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
a{
    text-decoration: none;
    color:inherit;
}


body{
    background:gray;
    all:unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows:auto auto;
    grid-template-rows:auto auto;
    width:100%;

}


body > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;

}


body > *:nth-child(2){
    -ms-grid-row:2;
    -ms-grid-column:1;

}
.social{
    display: none;
}
.logo-grid{
    height:100vh;
    background:url(../img/bg3.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
}
.main-grid{
    all:unset;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    margin: 0;
    padding:0;
    overflow: auto;
}
.home-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    background:#333333;
    overflow: hidden;
}
.home-grid > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;
}
.home-grid > *:nth-child(2){
    -ms-grid-row:2;
    -ms-grid-column:1;
}
.home-info{
    /*
    display:grid;
    grid-template-rows: 65% 35%;
    grid-auto-columns: auto;
    */
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    padding-left:10%;
    height:100vh;

}
.info h1{
    font-size:3vh;
    color:inherit;
}
p{
    font-size:3vh;
    color:#ffffff;
}
.btn{
    height:150%;
    width:50%;
    font-size:3vh;
    color:white;
}
#pc-icon{
    display: block;
    width:75%;
    height:100%;
    background-size:contain;
    background-position:center;
}
.logo{
    height: 80%;
    margin-top:10%;
    width: 100%;
    background:url(../img/shaded_logo1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#ig-logo{
    display: block;
    background:url(../img/mobile-main-ig.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:7vh;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}
#twi-logo{
    display: block;
    background:url(../img/mobile-main-twi.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:7vh;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}
}