h1{
    color:#00413b;
    font-size: 100%;
}
h2{
    color:#00413b;
    font-size: x-large;
}

p{
    color:#4d4d4d;
    font-size: x-small;
}
a{
    text-decoration: none;
    color:inherit;
}


body{
    background:gray;
    all:unset;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto auto;
    width:100%;

}
.social{
    display: none;
}
.logo-grid{
    height:100vh;
    background:url(../img/mobile-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    margin-top:10vh;
    padding:0;
}
.main-grid{
    all:unset;
    height: min-content;
    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    padding:0;
    overflow: auto;
}
.home-grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
    height: 100vh;
    background:#333333;
}
.home-info{
    /*
    display:grid;
    grid-template-rows: 65% 35%;
    grid-auto-columns: auto;
    */
    display:flex;
    flex-direction:column;
    padding-left:10%;
}
.btn{
    height:150%;
    width:50%;
    font-size:x-small;
}
#pc-icon{
    display: block;
    width:75%;
    height:100%;
    background-size:contain;
    background-position:center;
}
.logo{
    height: 100%;
    width: 100%;
    background:url(../img/shaded_logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#ig-logo{
    display: block;
    background:url(../img/mobile-main-ig.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:7vh;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}
#twi-logo{
    display: block;
    background:url(../img/mobile-main-twi.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:7vh;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}