h1{
    color:#00413b;
}
h2{
    color:#00413b;
}

p{
    color:#4d4d4d;
}
a{
    text-decoration: none;
    color:inherit;
}

.nav{
    display: grid;
    align-content: center;
    justify-content: right;
    padding-right:12%;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
}
.nav-menu li{
    margin-left:5vw;
}
.home-footer{
    display: none;
}

#nav-btn-checkbox{
    display: none;
}
#logo{

    display: block;
    height:120px;
    width:120px;
    background:url(../img/logo.svg);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    left:3%;
    top:2%;

}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.twi{
    display: grid;
    grid-template-rows: auto auto;
    height:min-content;
    justify-items: center;
    align-items:center;
    margin:1vh;
}
.ig {
    display: grid;
    grid-template-rows: auto auto;
    height: min-content;
    justify-items: center;
    align-items:center;
    margin:1vh;
}

#ig-logo{

    display: block;
    background:url(../img/main-ig.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:40px;
    width:40px;

}
#twi-logo{

    display: block;
    background:url(../img/main-twi.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:40px;
    width:40px;

}

.footer{
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 34%;
    justify-content: center;
    align-content: center;
    height:20vh;
    color:white;
    background:#333333;

}

.footer p{

    color:white;

}

.social-footer{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.contact-us{

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;

}

.contact-us h4{

    padding:0;
    margin:0;

}

.contact-us p{

    padding:0;
    margin:0;

}


@media(max-width:720px){
.home-footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10vh;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background:#333333;
}

.nav{
    all:unset;
    position: fixed;
    top:0%;
    z-index: 3;
}
#nav-btn-checkbox:checked ~.nav-menu{
    height:60vh;
    padding-top:2vh;
    padding-bottom:2vh;
}

.nav-menu {
    all:unset;
    display: grid;
    list-style: none;
    height: 0vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    overflow:hidden;
    background:white;
    padding-top:0vh;
    padding-bottom:0vh;
    transition: height cubic-bezier(1, 1.2, 0.7, 1) 2s;
    z-index:1;
}

.nav-menu li{
    margin-top:3vh;
    margin-bottom:3vh;
}

.nav-btn-container{
    display: block;
    height:10vh;
    width:12vw;
    right:2%;
    position: fixed;
    top:3%;
    z-index: 3;
}

#nav-btn-icon{
    display:block;
    background-color:#666666;
    height:1.2vh;
    width:100%;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) 2s;
}

#nav-btn-icon:before{
    display:block;
    background-color:inherit;
    position: relative;
    content: "";
    top:2.2vh;
    height:100%;
    width:100%;
    transition: opacity cubic-bezier(0.23, 1, 0.320, 1) 1s;
}

#nav-btn-icon:after{
    display:block;
    background-color:inherit;
    position:relative;
    content:"";
    top:3.2vh;
    height:100%;
    width:100%;
    transition: transform cubic-bezier(0.23, 1, 0.320, 1) 2s;
}
#nav-btn-checkbox:checked ~.nav-btn-container #nav-btn-icon{
    transform: translate(0,1.6vh) rotate(45deg);

}
#nav-btn-checkbox:checked ~.nav-btn-container #nav-btn-icon:before{
    opacity: 0;

}
#nav-btn-checkbox:checked ~.nav-btn-container #nav-btn-icon:after{
    transform: translate(0,-4.50vh) rotate(90deg);
}
.footer{
    all:unset;
    height:min-content;
    display: flex;
    flex-direction: column-reverse;
    background: #333333;
    color:white;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
}
.more-info{
    display: none;
}

}