/*
d* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    display: -ms-grid;
    display: grid;
    margin:0;
    padding:0;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    width: 100%;
    height:100%;
}body > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}body > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}body > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}body > *:nth-child(4){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}body > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.nav{
    height:12vh;
    background:#333333;
}

#logo{

    display: block;
    height:80px;
    width:120px;
    background:url(../img/light_logo.svg);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    left:3%;
    top:2%;

}
.nav a{
    color:#e1e1e1;
    font-size:medium;
}
.header{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 10vh;
    width: 100%;
    background:#333333;
}
.header h1{
    color:#e1e1e1;
}
.first-services{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    height:80vh;
    background:#333333;
    overflow:hidden;
    -webkit-animation: fade_height 2s;
            animation: fade_height 2s;
    -webkit-box-shadow: 4px 2px 2px 0px rgba(0,0,0,0.5);
            box-shadow: 4px 2px 2px 0px rgba(0,0,0,0.5);
}
.first-services > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.first-services > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.web-services{
    padding-top:5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; 
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

}

.web-services > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

.web-services > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;

}
.web-services h2{
    color: #e1e1e1;
}
.web-services p{
    color:#898989;
}
.web-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding:0;
    margin:0;
    color:#898989;
}
#web-icon{
    display: block;
    width:100%;
    height:100%;
    background:url(../img/web-icon.svg);
    background-size:contain;
    background-repeat:no-repeat;
}
.mpc-services{
    padding-top: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width:100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.mpc-services > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.mpc-services > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.mpc-services h2{
    color:#e1e1e1;
}

.mpc-services p{
    color:#898989;
}

#mpc-icon{
    display: block;
    width:100%;
    height:100%;
    background:url(../img/mpc-icon.svg);
    background-size:contain;
    background-repeat:no-repeat;
}


.last-services{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    height:80vh;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-shadow: 4px 4px 2px 4px rgba(0,0,0,0.9);
            box-shadow: 4px 4px 2px 4px rgba(0,0,0,0.9);
}


.last-services > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.marketing-services{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% auto;
    grid-template-rows: 50% auto;
    -ms-grid-columns:auto;
    grid-template-columns:auto;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;

}

.marketing-services > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;

}

.marketing-services > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;

}
#marketing-icon{
    display: block;
    width:50%;
    height:100%;
    background:url(../img/market-icon.svg);
    background-size:contain;
    background-repeat:no-repeat;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#ig-logo{
    display: block;
    background:url(../img/mobile-main-ig.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}
#twi-logo{
    display: block;
    background:url(../img/mobile-main-twi.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    margin-top: 1vh;
    margin-left:4vw;
    margin-right: 4vw;
}

@-webkit-keyframes fade_height{
    0%{
        height: 40vh;
    }

    100%{
        height: 80vh;
    }
}

@keyframes fade_height{
    0%{
        height: 40vh;
    }

    100%{
        height: 80vh;
    }
}
@media only screen and (max-width:720px){
    /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    all:unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin:0;
    padding:0;
}

.header{
    margin-top:10vh;
    height:10vh;
}
.nav{
    height: 10vh;
}
#logo{
    display: none;
}
.first-services{
    height:160vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 80vh 80vh;
    grid-template-rows: 80vh 80vh;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
}
.first-services > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;
}
.first-services > *:nth-child(2){
    -ms-grid-row:2;
    -ms-grid-column:1;
}
.mpc-services{
    background:none;
}
.marketing-services{ 
    width:100%;
 }
.last-services{
    height: 80vh;
    background:url(../img/services-bg3.svg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    
}
}